.butt {
    background-color: gold;
    color: white;
    float: right;
    margin-top: 8px;
    margin-right: 6%;
    margin-bottom: 5px;
    width: 15%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: 0px;
    align: right;
}