.icomicsImage {
    height: 600px;
}

.icomicsCharacters:hover {
    cursor: pointer;
    color: gold;
    text-decoration: underline;
}

.icomicsContent {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.icomicsDescription {
    text-align: left;
}
.characterList {
    text-align: left;
}